@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "maplibre-gl/dist/maplibre-gl.css";

/* This file is for your main application CSS */
@font-face {
  font-family: "InterNormal";
  font-weight: 400;
  src: url("../fonts/Inter-Normal.ttf");
  font-display: swap;
}

@font-face {
  font-family: "InterBold";
  font-weight: 700;
  src: url("../fonts/Inter-Bold.ttf");
  font-display: swap;
}

html {
  @apply bg-white antialiased font-sans;
  font-size: 16px;
  font-weight: 400;
  scrollbar-gutter: stable both-edges;
}

/* hide Ukranian flag */
.leaflet-attribution-flag {
  display: none !important;
}

.resizable {
  resize: both;
  overflow: auto;
  display: flex;
}

.resizable > * {
  flex: 1;
}

.size-iphone-12 {
  width: 390px;
  height: 844px;
}

.destination-popup .maplibregl-popup-content {
  @apply shadow-none bg-yellow-300 text-slate-600 text-lg p-4
}

.destination-popup .maplibregl-popup-tip {
  @apply shadow-none border-t-yellow-300
}

main.flash-visible {
  @apply bg-yellow-300
}

@media (min-height: 40rem) {
  .h-dvh-when-tall {
    @apply h-dvh
  }
}
