@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "leaflet/dist/leaflet.css";

/* This file is for your main application CSS */
@font-face {
  font-family: "InterNormal";
  font-weight: 400;
  src: url("../fonts/Inter-Normal.ttf");
  font-display: swap;
}

@font-face {
  font-family: "InterBold";
  font-weight: 700;
  src: url("../fonts/Inter-Bold.ttf");
  font-display: swap;
}

body {
  font-family: "InterNormal", system-ui, sans-serif;
  font-size: 16px;
  font-weight: 400;
}

/* hide Ukranian flag */
.leaflet-attribution-flag {
  display: none !important;
}

.admin-h-full {
  position: absolute;
  top: 0;
}

.resizable {
  resize: both;
  overflow: auto;
  display: flex;
}

.resizable > * {
  flex: 1;
}

.size-iphone-12 {
  width: 390px;
  height: 844px;
}

.destination-popup .leaflet-popup-content-wrapper {
  @apply shadow-none bg-yellow-300 text-slate-600 text-lg p-4
}

.destination-popup .leaflet-popup-tip {
  @apply shadow-none bg-yellow-300
}

main.flash-visible {
  @apply bg-yellow-300
}
