<%= if @redirect_to do %>
  <meta http-equiv="redirect" context={@redirect_to} ;0 />
  <p>
    <%= gettext("If you aren't redirected automatically,") %>
    <.link class="text-blue-500  cursor-pointer hover:underline" navigate={@redirect_to}>
      <%= gettext("click here.") %>
    </.link>
  </p>
<% else %>
  <h1><%= gettext("Homepage") %></h1>
<% end %>
